b-nav-item-dropdown {
    display: inline-block;

    b-dropdown-item {
        display: none;
    }
}

suscripcion-newsletter {
    height: 290px;
    display: flex;
}
@media (min-width: 768px) {
    suscripcion-newsletter {
        height: 80px;
    }
}

owl-carousel {
    height: 440px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;

    > div {
        width: 30% !important;
        margin: 15px;
    }
}

b-form-group {
    height: 60px;
    display: flex;
    background-color: #f2f2f2;
    margin-bottom: 1rem;
}

sucursales-mapa {
    height: 650px;
    display: flex;
    margin-bottom: 1.5rem;
    background-color: #aadaff;
}

social-share {
    height: 37px;
    display: flex;
}

nav {
    b-navbar-toggle {
        width: 55px;
        height: 40px;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.25rem;
    }

    b-collapse {
        width: 100%;
        display: none;
    }
}

@media (min-width: 768px) {
    nav {
        b-navbar-toggle {
            display: none;
        }

        b-collapse {
            display: flex;
        }
    }
}
